<div class="jumbotron jumbotron-fluid headerJumbo">
    <div class='overlay'></div>
    <div class="container">
        <div class='titleSummary'>
            <h1 id='siteTitle' style='font-size: 48px;'>Huffpost Scraper </h1>
            <large style='font-size: 22px;'>Scrape the articles of huffpost.com.</large>
            <br>
            <button type='button' id='scrapeBtn' style='margin-top: 20px;'>Scrape</button>
        </div>
    </div>

</div>

<div class='container-fluid' id='postsArea'>
    {{#each articles}}
    <div class='col-lg-3 col-md-6 col-sm-12 card' id='card-{{id}}'>
        <a href='{{link}}' target='_blank'>{{title}}</a>
        <img src='{{photo}}'>
        <p>{{description}}</p>
        <span>
            <label for="userText">Username:</label>
            <input type="text" id="userText" name="userText" data-user={{id}} placeholder="Username">
            <textarea id='commentText' data-comment={{id}} style='width: 100%;'></textarea>
            <button type='submit' class='commentBtn' id='addComment{{id}}' data-id={{id}}>
                Add comment.
            </button>
        </span>
        <div class='notesArea'>
            {{> comments/comments note=this.note}}
        </div>
    </div>
    {{/each}}
</div>